<div class="main-wrap">
    <div class="description-wrap" (contextmenu)="onPlaylistClick($event)">
        <div class="description">
            <div class="img">
                <img #imageElement src="{{playlist.imagePath}}" alt="Your Image">
                <canvas #canvas style="display: none;"></canvas>
            </div>
            <div class="descr">
                <p class="type">{{getPlaylistType()}}</p>
                <h2 class="title">{{ playlist.name }}</h2>
                <p class="author">{{this.artistNames[playlist.authorId]}} - {{playlist.tracks.length || 0}} tracks</p>
            </div>
        </div>
    </div>
    <div class="tracks">
        <div class="actions" [ngClass]="{'playing': currentPlaylist.id === playlist.id && !paused, 'paused': paused}"
            (contextmenu)="onPlaylistClick($event)">
            <span class="toggleplay" id="play" (click)="toggleAudio(getTrackForPlay())">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:svgjs="http://svgjs.com/svgjs" width="20" height="20" x="0" y="0"
                    viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 512 512" xml:space="preserve"
                    class="">
                    <g>
                        <path
                            d="M486.413 221.412 122.347 12.916c-52.938-30.318-95.852-5.44-95.852 55.563v415.652c0 61.004 42.914 85.882 95.852 55.563l364.066-208.49c52.938-30.317 52.938-79.473 0-109.792z"
                            fill="#fff" data-original="#000000" class="svg"></path>
                    </g>
                </svg>
            </span>
            <span class="toggleplay" id="pause" (click)="toggleAudio(getTrackForPlay())">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="25" height="25" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512"
                    xml:space="preserve" class="" style="margin-left: 0px;">
                    <g>
                        <path
                            d="M13 5v22a3 3 0 0 1-3 3H9a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h1a3 3 0 0 1 3 3zm10-3h-1a3 3 0 0 0-3 3v22a3 3 0 0 0 3 3h1a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3z"
                            data-name="Layer 30" fill="#000000" opacity="1" data-original="#000000" class="svg"></path>
                    </g>
                </svg>
            </span>
            <span class="dots" (click)="onPlaylistClick($event)" (click)="$event.stopPropagation()">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </span>
        </div>
        <div class="track">
            <table class="track-table">
                <tbody>
                    <tr (contextmenu)="onPlaylistClick($event)">
                        <td class="number">
                            #
                        </td>
                        <td class="tdname">
                            Назва
                        </td>
                        <td class="album">
                            Альбом
                        </td>
                        <td class="date">
                            Дата додавання
                        </td>
                        <td class="like">

                        </td>
                        <td class="time"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                width="25" height="25" x="0" y="0" viewBox="0 0 359.286 359.286"
                                style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                                <g>
                                    <path
                                        d="M179.643 359.286c99.043 0 179.643-80.6 179.643-179.643S278.687 0 179.643 0 0 80.6 0 179.643s80.6 179.643 179.643 179.643zm0-335.334c85.869 0 155.691 69.821 155.691 155.691s-69.821 155.691-155.691 155.691S23.952 265.513 23.952 179.643 93.774 23.952 179.643 23.952z"
                                        fill="#fff" data-original="#000000" class=""></path>
                                    <path
                                        d="M232.039 236.89c2.216 1.796 4.85 2.635 7.485 2.635a11.91 11.91 0 0 0 9.341-4.491c4.132-5.15 3.293-12.695-1.856-16.827l-55.39-44.312V83.834c0-6.587-5.389-11.976-11.976-11.976s-11.976 5.389-11.976 11.976v95.81c0 3.653 1.677 7.066 4.491 9.341z"
                                        fill="#fff" data-original="#000000" class=""></path>
                                </g>
                            </svg>
                        </td>
                    </tr>
                    <tr *ngFor="let item of playlist.tracks; let i = index"  [ngClass]="{'active': isActive(item.id)}" (contextmenu)="onTrackClick($event, item.id)">
                        <td class="number" [ngClass]="{'playing': isActive(item.id), 'paused': paused}">
                            <p id="number">{{i + 1}}</p>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" x="0" y="0"
                                viewBox="0 0 163.861 163.861" style="enable-background:new 0 0 512 512"
                                xml:space="preserve" class="play" (click)="toggleAudio(item)">
                                <g>
                                    <path
                                        d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"
                                        fill="rgba(255,255,255, 0.5)" opacity="1" data-original="#000000" class="">
                                    </path>
                                </g>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" x="0" y="0"
                                viewBox="0 0 101.08 116.43" style="enable-background:new 0 0 512 512"
                                xml:space="preserve" class="pause" (click)="toggleAudio(item)">
                                <g>
                                    <g data-name="Layer 2">
                                        <path
                                            d="M23.33 0h-7.78A15.53 15.53 0 0 0 0 15.52v85.38a15.54 15.54 0 0 0 15.55 15.53h7.78a15.54 15.54 0 0 0 15.55-15.53V15.52A15.54 15.54 0 0 0 23.33 0zm62.2 0h-7.78A15.54 15.54 0 0 0 62.2 15.52v85.38a15.54 15.54 0 0 0 15.55 15.53h7.78a15.54 15.54 0 0 0 15.55-15.53V15.52A15.53 15.53 0 0 0 85.53 0z"
                                            data-name="Layer 1" fill="rgba(255,255,255, 0.5)" opacity="1"
                                            data-original="#000000" class=""></path>
                                    </g>
                                </g>
                            </svg>
                        </td>
                        <td class="tdname">
                            <div class="wrap-img">
                                <img src={{item.imagePath}}>
                            </div>
                            <div class="name">
                                <div class="title">
                                    {{item.name}}
                                </div>
                                <div class="subtitle">
                                    {{artistNames[item.artistId]}}
                                </div>
                            </div>
                        </td>
                        <td class="album">
                            {{albumNames[item.albumId]}}
                        </td>
                        <td class="date">
                            {{this.trackDates[item.id]}}
                        </td>
                        <td class="like" (click)="toggleLikedSongs(item)"
                            [ngClass]="{'isLoved': getLikedSongsState(item)}">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" x="0" y="0"
                                viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512 512"
                                xml:space="preserve" class="">
                                <g>
                                    <path
                                        d="M256.001 477.407c-2.59 0-5.179-.669-7.499-2.009-2.52-1.454-62.391-36.216-123.121-88.594-35.994-31.043-64.726-61.833-85.396-91.513C13.237 256.885-.214 219.943.003 185.49c.254-40.09 14.613-77.792 40.435-106.162 26.258-28.848 61.3-44.734 98.673-44.734 47.897 0 91.688 26.83 116.891 69.332 25.203-42.501 68.994-69.332 116.891-69.332 35.308 0 68.995 14.334 94.859 40.362 28.384 28.563 44.511 68.921 44.247 110.724-.218 34.393-13.921 71.279-40.728 109.632-20.734 29.665-49.426 60.441-85.279 91.475-60.508 52.373-119.949 87.134-122.45 88.588a15.008 15.008 0 0 1-7.541 2.032z"
                                        fill="#000000" opacity="1" data-original="#000000" class="svg"></path>
                                </g>
                            </svg>
                        </td>
                        <td class="time">
                            {{getDuration(item.duration)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-footer-info style="width: 100%; padding: 0px 30px;"></app-footer-info>
    </div>
</div>

<app-context-menu #contextMenu></app-context-menu>