@import "../../shared/mixin.scss";

.footer {
    user-select: none;

    &.visible {
        display: grid;
    }

    padding-top: 10px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 350px 1fr 350px;

    svg {
        cursor: pointer;

        &#like {
            .svg {
                fill: rgba(255, 255, 255, 0.3);
            }

            &:hover {
                .svg {

                    fill: $hovercolor;
                }
            }

            &.isLoved {
                .svg {
                    fill: #D66EDE
                }
            }
        }

        .svg {

            fill: $backcolor;

            &.notRepeat {
                display: none;
            }

            &.random,
            &.playingSidebar,
            &.repeatToggled {
                fill: $maincolor;
            }
        }

        &:hover {
            .svg {
                &:not(.random, .playingSidebar, .repeatToggled) {
                    fill: $hovercolor;
                }
            }
        }
    }

    .songname {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;

        .song {
            display: flex;
            align-items: center;
            width: 220px;

            .wrap-img {
                min-width: 60px;
                min-height: 60px;
                max-width: 60px;
                max-height: 60px;

                img {
                    min-width: 60px;
                    min-height: 60px;
                    max-width: 60px;
                    max-height: 60px;
                }
            }

            .name {
                padding-left: 12px;
                font-weight: 400;
                letter-spacing: .2px;

                .title {
                    font-size: 1rem;
                    margin: 0;
                    font-weight: 400;
                    padding-bottom: 3px;
                    color: rgba(255, 255, 255, 0.9);
                }

                .subtitle {
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }

        .features {
            width: 80px;

            svg {
                &:first-child {
                    margin-right: 15px;
                }
            }
        }
    }

    .songcontrol {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        .actions {
            display: flex;
            align-items: center;

            .pause {
                display: none;
            }

            .play {
                display: flex;
            }

            &.playing {
                .play {
                    display: none;
                }

                .pause {
                    display: flex;
                }

                &.paused {
                    .pause {
                        display: none;
                    }

                    .play {
                        display: flex;
                    }
                }
            }

            svg {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .slider {
            display: flex;
            align-items: center;

            .time {
                font-size: 14px;
                margin: 0 5px 0 5px;
                color: $backcolor;
            }

            .sound-slider {
                width: 500px;

                @include sound-slider();
            }
        }
    }

    .songfeatures {
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;

        .features {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .sound-slider {
                @include sound-slider();
                width: 100px;
            }

            svg {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}