$transition: 0.6s;
$hovercolor: rgba(255, 255, 255, 1);
$backcolor: rgba(255, 255, 255, 0.8);

@mixin slider {
    padding: 15px 0px;

    &::-webkit-slider-runnable-track {
        background: #404040;
        height: var(--track-height);
        -webkit-appearance: none;
        appearance: none;
        border-radius: 4px;
    }

    &::-moz-range-track {}
}

@mixin thumb {
    border-radius: 50%;

    &:hover {
        &::-webkit-slider-thumb {
            margin-top: -6px;
            height: 15px;
            width: 15px;

            filter: brightness(var(--brightness-hover));
            cursor: pointer;

            --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax var(--custom-bg-color);
        }
    }

    &::-webkit-slider-thumb {
        --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
        --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
        --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
        --clip-further: calc(100% + 1px);
        --box-fill: calc(-100vmax) 0 0 100vmax var(--custom-bg-color);

        background-color: white;
        box-shadow: var(--box-fill);
        border-radius: var(--thumb-width, var(--thumb-height));

        filter: brightness(100%);
        clip-path: polygon(100% -1px,
                var(--clip-edges) -1px,
                0 var(--clip-top),
                -100vmax var(--clip-top),
                -100vmax var(--clip-bottom),
                0 var(--clip-bottom),
                var(--clip-edges) 100%,
                var(--clip-further) var(--clip-further));

        margin-top: -6px;
        height: 4px;
        width: 0px;
        transition: none;
        -webkit-appearance: none;
        appearance: none;
        height: var(--thumb-height);
    }
}

@mixin sound-slider {
    font-size: 1.5rem;

    --thumb-height: 15px;
    --track-height: 0.125em;
    --track-color: rgba(255, 255, 255, 1);
    --brightness-hover: 130%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;

    position: relative;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);

    @include thumb();
    @include slider();
}

.footer {
    &.visible {
        display: flex;
    }

    // visibility: hidden;
    // visibility: visible;

    padding-top: 30px;
    margin-top: auto;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: space-between;

    svg {
        cursor: pointer;

        .svg {
            transition: fill $transition;
            fill: $backcolor;
        }

        &:hover {
            .svg {
                fill: $hovercolor;
            }
        }

    }

    .songname {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        width: 350px;

        .song {
            display: flex;
            align-items: center;
            width: 220px;

            .wrap-img {
                min-width: 60px;
                min-height: 60px;
                max-width: 60px;
                max-height: 60px;

                img {
                    min-width: 60px;
                    min-height: 60px;
                    max-width: 60px;
                    max-height: 60px;
                }
            }

            .name {
                padding-left: 12px;

                .title {
                    font-size: 1rem;
                    font-weight: 300;
                    margin: 0;
                    padding-bottom: 3px;
                }

                .subtitle {
                    font-size: 12px;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }

        .features {
            width: 80px;

            svg {
                &:first-child {
                    margin-right: 15px;
                }
            }
        }
    }

    .songcontrol {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        .actions {
            display: flex;
            align-items: center;

            .show {
                display: none;
            }

            svg {
                .svg{
                    &.random {
                        fill: $hovercolor
                    }
                }
                
            }

            .pause {
                display: none;
            }

            .play {
                display: flex;
            }

            &.playing {
                .play {
                    display: none;
                }

                .pause {
                    display: flex;
                }

                &.paused {
                    .pause {
                        display: none;
                    }

                    .play {
                        display: flex;
                    }
                }
            }

            svg {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .slider {
            display: flex;
            align-items: center;

            .time {
                font-size: 14px;
                margin: 0 5px 0 5px;
                color: $backcolor;
            }



            .sound-slider {
                width: 500px;

                @include sound-slider();

            }
        }
    }

    .songfeatures {
        padding-right: 20px;
        display: flex;

        .features {
            width: 350px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .sound-slider {
                @include sound-slider();
                width: 100px;
            }

            svg {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}