<div class="main-wrap">
    <div class="form-wrap">
        <form class="form">
            <p class="title">Create new playlist or album</p>
            <div class="text">
                <label class="label-for">Name:</label>
                <input type="text" class="input-text" placeholder="Name">
            </div>
            <div class="text">
                <label class="label-for">Type of playlist:</label>
                <select class="input-select">
                    <option value="0" class="input-select-item">Playlist</option>
                    <option value="1" class="input-select-item">Album</option>
                    <option value="2" class="input-select-item">Single</option>
                </select>
            </div>
        </form>
    </div>
    <div class="form-wrap">
        <form class="form">
            <p class="title">Create new track</p>
            <div class="text">
                <label class="label-for">Name:</label>
                <input type="text" class="input-text" placeholder="Name">
            </div>
        </form>
    </div>
</div>