@import "../../shared/mixin.scss";
@import "../../shared/settings.scss";

.main-wrap {
    overflow-y: auto;
    @include scroll-bar();
    @include menu-group-settings();
    height: 100%;
    background-color: $main-background;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    user-select: none;
    display: grid;
}
