<div class="sidebar" [ngClass]="{'visible': nowPlayingVisible}">
    <div class="bottom">
        <div class="head">
            <span class="nameandbutton">
                {{getPlaylistName()}}
            </span>
            <span class="buttons">
                <span class="dots" (click)="onActionsClick($event)" (click)="$event.stopPropagation()">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </span>
                <span class="close" (click)="toggleSideBar()">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="15" height="15" x="0" y="0" viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                        <g>
                            <g data-name="02 User">
                                <path
                                    d="M25 512a25 25 0 0 1-17.68-42.68l462-462a25 25 0 0 1 35.36 35.36l-462 462A24.93 24.93 0 0 1 25 512z"
                                    fill="rgba(255,255,255,0.8)" opacity="1" data-original="#000000" class=""></path>
                                <path
                                    d="M487 512a24.93 24.93 0 0 1-17.68-7.32l-462-462A25 25 0 0 1 42.68 7.32l462 462A25 25 0 0 1 487 512z"
                                    fill="rgba(255,255,255,0.8)" opacity="1" data-original="#000000" class=""></path>
                            </g>
                        </g>
                    </svg>
                </span>
            </span>
        </div>
        <div class="track">
            <div class="wrap-img">
                <img class="img" src="{{track.imagePath}}">
            </div>
            <div class="trackinfo">
                <span class="trackname">
                    <p class="name">{{track.name}}</p>
                    <p class="author">{{getArtistName(track.artistId)}}</p>
                </span>
                <span class="wrap-svg" (click)="toggleLikedSongs(track)">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="25" height="25" x="0" y="0" viewBox="0 0 512.001 512.001"
                        style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                        <g>
                            <path [ngClass]="{'isLoved': getLikedSongsState(track)}"
                                d="M256.001 477.407c-2.59 0-5.179-.669-7.499-2.009-2.52-1.454-62.391-36.216-123.121-88.594-35.994-31.043-64.726-61.833-85.396-91.513C13.237 256.885-.214 219.943.003 185.49c.254-40.09 14.613-77.792 40.435-106.162 26.258-28.848 61.3-44.734 98.673-44.734 47.897 0 91.688 26.83 116.891 69.332 25.203-42.501 68.994-69.332 116.891-69.332 35.308 0 68.995 14.334 94.859 40.362 28.384 28.563 44.511 68.921 44.247 110.724-.218 34.393-13.921 71.279-40.728 109.632-20.734 29.665-49.426 60.441-85.279 91.475-60.508 52.373-119.949 87.134-122.45 88.588a15.008 15.008 0 0 1-7.541 2.032z"
                                fill="rgba(255,255,255,0.3)" opacity="1" data-original="#000000" class="svg"></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div class="data">
            <span class="nameandbutton">
                <p>Information</p>
                <p class="showbut">Show all</p>
            </span>
            <span class="artist-card">
                <p style="font-size: 16px; color: rgba(255, 255, 255, 0.9); margin-bottom: 2px">
                    {{getArtistName(track.artistId)}}</p>
                <p style="font-size: 14px; color: rgba(255, 255, 255, 0.7)">Main artist</p>
            </span>
        </div>
        <div class="nextinquery">
            <span class="nameandbutton">
                <p>Next in queue</p>
                <p class="showbut">Show all</p>
            </span>
            <span class="track-card">
                <div class="controls">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="18" height="18" x="0" y="0" viewBox="0 0 415.963 415.963"
                        style="enable-background:new 0 0 512 512" xml:space="preserve" class="note">
                        <g>
                            <path
                                d="M328.712 264.539c12.928-21.632 21.504-48.992 23.168-76.064 1.056-17.376-2.816-35.616-11.2-52.768-13.152-26.944-35.744-42.08-57.568-56.704-16.288-10.912-31.68-21.216-42.56-35.936l-1.952-2.624c-6.432-8.64-13.696-18.432-14.848-26.656-1.152-8.32-8.704-14.24-16.96-13.76a15.957 15.957 0 0 0-14.88 15.936v285.12c-13.408-8.128-29.92-13.12-48-13.12-44.096 0-80 28.704-80 64s35.904 64 80 64 80-28.704 80-64V165.467c24.032 9.184 63.36 32.576 74.176 87.2-2.016 2.976-3.936 6.176-6.176 8.736-5.856 6.624-5.216 16.736 1.44 22.56 6.592 5.888 16.704 5.184 22.56-1.44 4.288-4.864 8.096-10.56 11.744-16.512.384-.448.737-.928 1.056-1.472z"
                                fill="rgba(255,255,255, 0.5)" opacity="1" data-original="#000000"></path>
                        </g>
                    </svg>
                    <svg (click)="playAudio()" xmlns="http://www.w3.org/2000/svg" version="1.1"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" x="0" y="0"
                        viewBox="0 0 163.861 163.861" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="play">
                        <g>
                            <path
                                d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"
                                fill="rgba(255,255,255, 0.5)" opacity="1" data-original="#000000" class="">
                            </path>
                        </g>
                    </svg>
                </div>
                <div class="wrap-img">
                    <img src={{nextTrack.imagePath}}>
                </div>
                <div class="name">
                    <p class="title">
                        {{nextTrack.name}}
                    </p>
                    <p class="subtitle">
                        {{getArtistName(nextTrack.artistId)}}
                    </p>
                </div>
            </span>
        </div>
    </div>
</div>
<app-context-menu #contextMenu></app-context-menu>