<div class=sidebar>
    <div class="bottom">
        <span class="nav-btn">
            <div class="item">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:svgjs="http://svgjs.com/svgjs" width="30" height="30" x="0" y="0" viewBox="0 0 32 32"
                    style="enable-background:new 0 0 512 512" xml:space="preserve" fill-rule="evenodd" class="">
                    <g>
                        <path
                            d="M4 4.998 4.002 27a1 1 0 0 0 2 0L6 4.998a1 1 0 0 0-2 0zM10.998 5.004 11 27a1 1 0 0 0 2 0l-.002-21.996a1 1 0 0 0-2 0zM15.108 5.356l10.996 22a1 1 0 0 0 1.789-.894l-10.996-22a1 1 0 0 0-1.789.894z"
                            fill="rgba(255,255,255,0.8)" data-original="#000000" class="svg"></path>
                    </g>
                </svg>
                <p class="text">Моя медіатека</p>
            </div>
            <svg (click)="createNewPlaylist()" width="35" height="35" viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg" class="create">
                <rect x="45" y="20" width="10" height="60" fill="rgba(255,255,255,0.8)" rx="5" ry="5" />
                <rect x="20" y="45" width="60" height="10" fill="rgba(255,255,255,0.8)" rx="5" ry="5" />
            </svg>
        </span>
        <div class="playlists">
            @for (item of items; track item; let i = $index) {
            <span class="playlist" [ngClass]="{
                'selected': isActive(item.Id),
                'playing': isPlaying(item.Id),
              }" (click)='redirectToPlaylist(item.Id)' (contextmenu)="onPlaylistClick($event)">
                <div class="play-name">
                    <div class="wrap-img">
                        <img src={{item.Image}}>
                    </div>
                    <div class="name">
                        <p class="title">
                            {{item.Name}}
                        </p>
                        <p class="subtitle">
                            {{getPlaylistType(item.Type)}} - {{getPlaylistLength(item)}} треки
                        </p>
                    </div>
                </div>
                <div class="wrap-playing" [ngClass]="{'playing': isPlaying(item.Id)}">
                    <div class="boxContainer">
                        <div class="box box1" [ngClass]="{'pause': isPaused}"></div>
                        <div class="box box2" [ngClass]="{'pause': isPaused}"></div>
                        <div class="box box3" [ngClass]="{'pause': isPaused}"></div>
                        <div class="box box4" [ngClass]="{'pause': isPaused}"></div>
                        <div class="box box5" [ngClass]="{'pause': isPaused}"></div>
                    </div>
                </div>
            </span>
            }
        </div>
    </div>
</div>
<app-context-menu #contextMenu></app-context-menu>